header {
  background: $background-window;
  border-bottom: $border-bottom;

  .cabezera {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav {
    display: flex;
    padding-left: 15px;

    &__logo {
      color: $fill-button-window;
    }

    &__link-web {
      text-decoration: none;
      margin: auto;

      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.15em;
      text-align: right;
      letter-spacing: 0.03em;
      color: $color-logo;
    }

    .card__index::after {
      content: '';
      position: absolute;
      width: 54px;
      height: 4px;
      top: 48px;
      left: 38px;
      border-radius: 2px;
      background-color: $primary-color;
    }

    .card__portafolio::after {
      content: '';
      position: absolute;
      width: 70px;
      height: 4px;
      top: 48px;
      left: 137px;
      border-radius: 2px;
      background-color: $primary-color;
    }
  }

  .link-nav {
    display: flex;
    list-style: none;
    margin: auto;
    position: relative;

    a {
      text-decoration: none;
      font-style: normal;
      color: $color-title;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.7142em;
      letter-spacing: 0.02em;
      margin: auto;
      margin-right: 50px;

      &:hover,
      &:focus,
      &:active {
        color: $primary-color;
      }
    }

    &__current a {
      color: $primary-color;
    }
  }

  .contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0px;

    a.contact__email {
      color: $primary-color;
      margin-right: 50px;
    }

    a.contact__email1 {
      margin-right: 50px;
    }

    &__icons-header {
      margin-right: 10px;
      padding: 0px;
    }

    &__icons-header1 {
      margin-right: 10px;
      padding: 0px;
    }
    &__icons-header2 {
      margin-right: 10px;
      padding: 0px;
    }

    &__icons-header {
      fill: $primary-color;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.7142em;
      letter-spacing: 0.02em;
      color: $color-text;
      // margin-right: 50px;
      padding: 0px;

      &:hover,
      &:focus {
        fill: $primary-color;
        color: $primary-color;
      }
    }
  }

  .menu-toggle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.1);
      fill: #2196f3;
    }
  }
  @media (min-width: 481px) {
    .menu-toggle {
      position: absolute;
      display: none;
    }
    .nav__link-web {
      padding-left: 0px;
    }
  }

  .menu {
    margin: auto;
    padding: 0;
  }
  @media (max-width: 481px) {
    .menu {
      display: none;
      // width: 100%;
    }
    .contact {
      display: none;
      // width: 100%;
    }
    .cabezera {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }
    .nav {
      padding-left: 0px;
    }
    .container {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      width: 100%;
      padding: 0px;
    }
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding-left: 40px;
  padding-top: 48px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  .toggle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 21px;
    right: 25px;
    fill: #212121;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.1);
      fill: #2196f3;
    }
  }

  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    .link-menu {
      margin-bottom: 32px;
    }

    .link {
      text-decoration: none;
      font-style: normal;
      color: $color-title;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.02em;

      &:hover {
        color: $primary-color;
      }
    }

    .contact {
      margin-bottom: 32px;
    }
  }
  .mobil-contact {
    display: flex;
    flex-direction: column;
    margin-top: 306px;
    list-style: none;
    width: 100%;
    padding: 0px;

    .contact {
      margin-bottom: 32px;
    }

    a.contact__number {
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      color: $color-title;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }

    a.contact__email {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;

      color: #757575;

      text-decoration: none;
      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }

  .mobil-redes {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-top: 32px;
    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #2196f3;
    }
    a.Instagram {
      padding-right: 10px;
    }
    .LinkedIn {
      padding-left: 10px;
    }
    a.twitter {
      border-left: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      padding-left: 10px;
      padding-right: 10px;
    }
    a.facebook {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.menu-container.is-open {
  transform: translateX(0);
}
