.team-color {
  background: $background-equipment;
  margin-bottom: 94px;
}

.equipment-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  padding-top: 94px;

  &__title {
    margin: auto;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166em;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-title;

    &:hover {
      text-decoration: underline $primary-color 1px;
    }
  }
}

.team-list {
  display: flex;
  margin: auto;
  padding: 0px;

  &__image-container {
    background: $background-main;
    margin-right: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__image-container1 {
    background: $background-main;
    margin: 0 auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__image:hover {
    border: 1px solid $primary-color;
    border-radius: 2px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 1.428em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-title;

    &:hover {
      text-decoration: underline $primary-color 1px;
    }
  }

  &__text {
    margin: auto;
    text-align: center;
    font-size: 14px;
    line-height: 1.71em;
    /* or 171% */
    letter-spacing: 0.03em;
    color: $color-text;
    &:hover {
      text-decoration: underline $primary-color 1px;
    }
  }
}

.network-container {
  display: flex;
  justify-content: center;
  height: 44px;
  margin-top: 16px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 16px;

  &__networks {
    border-radius: 50%;
    height: 44px;
    margin-right: 10px;
    padding: 12px;
    fill: $primary-fill-color;
    margin-bottom: 0px;

    &:hover,
    &:focus {
      background: $primary-color;
      fill: $color-fill;
    }
  }

  &__networks1 {
    border-radius: 50%;
    height: 44px;
    padding: 12px;
    fill: $primary-fill-color;
    margin-bottom: 0px;

    &:hover,
    &:focus {
      background: $primary-color;
      fill: $color-fill;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 481px) {
  .team-color {
    margin-bottom: 60px;
  }
  .equipment-container {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 100%;

    &__title {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 1.178em;
    }

    .team-list {
      display: flex;
      flex-direction: column;
      width: 100%;

      &__image-container {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 24px;
      }

      &__image-container1 {
        width: 100%;
        padding-bottom: 24px;
      }
    }
    .team-list__image {
      width: 100%;
    }

    .network-container {
      width: 100%;
    }
  }
}

@media (min-width: 481px) and (max-width: 769px) {
  .team-color {
    margin-bottom: 60px;
  }
  .equipment-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-top: 60px;

    &__title {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 1.178em;
    }

    .team-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      &__image-container {
        margin: 0px;
        width: 354px;
        margin-top: 30px;
      }
      &__image-container1 {
        margin: 0px;
        width: 354px;
        margin-top: 30px;
      }
      &__image {
        width: 100%;
      }
    }
  }
}
