$border-bottom: 1px solid #ececec;
$border-input-footer: 1px solid rgba(255, 255, 255, 0.3);
$primary-color: #2196f3;
$primary-fill-color: #afb1b8;
$color-logo: #2196f3;
$color-text: #757575;
$color-fill: #f5f4fa;
$color-main: #ffffff;
$color-input-window: rgba(33, 33, 33, 1);
$color-title-window: #212121;
$color-text-window: rgba(117, 117, 117, 0.5);
$color-text-footer: #ffffff;
$color-title: #212121;
$text-footer: rgba(255, 255, 255, 0.6);
$text-button: #ffffff;
$fill-button: #ffffff;
$fill-button-window: #000000;
$background-footer: #2f303a;
$background-input-footer: #2f303a;
$background-button: #2196f3;
$background-icons: rgba(255, 255, 255, 0.1);
$background-window: #ffffff;
$background-main: #ffffff;
$background-main-p: rgba(47, 48, 58, 0.8);
$background-equipment: #f5f4fa;
$color-main-title: #ffffff;
$backdrop-color: rgba(0, 0, 0, 0.2);
$color: #eeeeee;

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background: #ffffff;
  margin: 0%;
}
